# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ideProjects\Chapter7-Developing test automation framework using appium\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
